
# services:
#   client-gateway:
#     build: ./apps/client-gateway
#     ports:
#       - "3000:3000"
#     volumes:
#       - ./apps/client-gateway/src:/usr/src/app/src
#     command: npm run start:gateway
services:
  nats-server:
    image: nats:latest
    ports:
      - "8222:8222"

  client-gateway:
    build:
      context: .
      dockerfile: apps/client-gateway/Dockerfile
    ports:
      - "3000:3000"
    command: npm run start:gateway
    environment:
      - PORT_GATEWAY=3000
      - NATS_SERVERS=nats://nats-server:4222

  products-ms:
    depends_on:
      - products-db
    build:
      context: .
      dockerfile: apps/products/Dockerfile
    command: npm run start:products
    environment:
      - PORT_PRODUCTS=3001
      - NATS_SERVERS=nats://nats-server:4222
  products-db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Passw@rd
      - POSTGRES_DB=products_db
    container_name: products
    volumes:
      - ./postgres:/var/lib/postgresql/data

  orders-ms:
    depends_on:
      - orders-db
    build:
      context: .
      dockerfile: apps/orders/Dockerfile
    command: npm run start:orders
    environment:
      - PORT_ORDERS=3002
      - NATS_SERVERS=nats://nats-server:4222
  
  orders-db:
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Passw@rd
      - POSTGRES_DB=orders_db
    container_name: orders
    volumes:
      - ./postgres:/var/lib/postgresql/data
